<!DOCTYPE html>
html(lang="en")
head
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	meta(charset="UTF-8")
	title Milomoor
	script(src="node_modules/jquery/dist/jquery.min.js")
	script(src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
	link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css")
	link(rel="stylesheet" href="node_modules/normalize.css")
	link(rel="stylesheet" href="css/style.css")
	link(rel="stylesheet" href="css/fonts.css")
	script(src="script/script.js")

	

body
	.wrapper
		header.header
			.header__logo
				img.header__logoImg(src="img/logo.png", alt="logo")
				.header__desc
					.header__text официальный
					.header__text представитель
			list.header__contacts
				li.header__contactsList
					img.header__contactIcon(src="img/phone.png", alt="phone")
					a.header__contactItem.header__contactItem-phone(href="tel:+996 707 103 397") +996 707 103 397
				li.header__contactsList
					img.header__contactIcon(src="img/mail.png", alt="mail")
					a.header__contactItem(href="mailto: milomoor@kg") milomoor@kg
				

		article.banner
			.banner__container
				.banner__title
					.banner__title-textTop Оптовый производитель
					.banner__title-textBottom женской одежды
					button.banner__button Получить каталог
				aside.banner__aside
					.banner__aside-ellipse
						.banner__aside-ellipseSmall
					img.banner__aside-img(src="img/banner.png", alt="banner")


		article.main
			.main__container
				.main__title Новая коллекция 2019
				ul.catalog
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog1.png", alt="")
							.catalog__discount 45%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 9 740 руб.
								.catalog__desc-price 17 700 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog2.png", alt="")
							.catalog__discount 50%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 10 000 руб.
								.catalog__desc-price 17 700 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog3.png", alt="")
							.catalog__discount 41%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 8 750 руб.
								.catalog__desc-price 15 900 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog4.png", alt="")
							.catalog__discount 50%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 6 500 руб.
								.catalog__desc-price 13 000 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog5.png", alt="")
							.catalog__discount 52%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 9 050 руб.
								.catalog__desc-price 18 100 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog6.png", alt="")
							.catalog__discount 50%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 4 900 руб.
								.catalog__desc-price 6 800 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog7.png", alt="")
							.catalog__discount 45%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 9 740 руб.
								.catalog__desc-price 17 700 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog8.png", alt="")
							.catalog__discount 50%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 10 000 руб.
								.catalog__desc-price 17 700 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog9.png", alt="")
							.catalog__discount 45%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 9 740 руб.
								.catalog__desc-price 17 700 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog10.png", alt="")
							.catalog__discount 50%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 10 000 руб.
								.catalog__desc-price 17 700 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog11.png", alt="")
							.catalog__discount 41%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 8 750 руб.
								.catalog__desc-price 15 900 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure
					li.catalog__item
						.catalog__card
							img.catalog__img(src="img/catalog12.png", alt="")
							.catalog__discount 45%
						.catalog__body
							.catalog__desc 
								.catalog__desc-name платье 
								.catalog__desc-sale 6 500 руб.
								.catalog__desc-price 13 000 руб.
							ul.catalog__desc-color
								li.catalog__desc-colorItem.color-blue
								li.catalog__desc-colorItem.color-violet
								li.catalog__desc-colorItem.color-azure

		article.about
			.about__container
				img.about__banner-img(src="img/about_banner.png", alt="")

				.about__container
					.about__title Что предлагаем?
				.about__wrapper
					.about__list
						li.about__item
							.about__item-title
								img.about__item-icon(src="img/discount.png", alt="")
								.about__item-text 10% скидка при первой покупке
								img.about__item-shape(src="img/shape.png", alt="")
							.about__item-desc Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Родного проектах домах над собрал свой имени которой, ведущими там толку. Запятой за продолжил своих всеми текстов инициал что залетают океана. Коварных своих несколько рекламных подпоясал они сбить, имени, журчит переулка, путь составитель эта, рыбного правилами грустный напоивший щеке всемогущая.
						li.about__item
							.about__item-title
								img.about__item-icon(src="img/shield.png", alt="")
								.about__item-text Оплата удобным для Вас способом
								img.about__item-shape(src="img/shape.png", alt="")
							.about__item-desc Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Родного проектах домах над собрал свой имени которой, ведущими там толку. Запятой за продолжил своих всеми текстов инициал что залетают океана. Коварных своих несколько рекламных подпоясал они сбить, имени, журчит переулка, путь составитель эта, рыбного правилами грустный напоивший щеке всемогущая.
						li.about__item
							.about__item-title
								img.about__item-icon(src="img/dress.png", alt="")
								.about__item-text 100% гарантия возврата
								img.about__item-shape(src="img/shape.png", alt="")
							.about__item-desc Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Родного проектах домах над собрал свой имени которой, ведущими там толку. Запятой за продолжил своих всеми текстов инициал что залетают океана. Коварных своих несколько рекламных подпоясал они сбить, имени, журчит переулка, путь составитель эта, рыбного правилами грустный напоивший щеке всемогущая.
						li.about__item
							.about__item-title
								img.about__item-icon(src="img/bag.png", alt="")
								.about__item-text 50 новых фасонов в месяц
								img.about__item-shape(src="img/shape.png", alt="")
							.about__item-desc Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Родного проектах домах над собрал свой имени которой, ведущими там толку. Запятой за продолжил своих всеми текстов инициал что залетают океана. Коварных своих несколько рекламных подпоясал они сбить, имени, журчит переулка, путь составитель эта, рыбного правилами грустный напоивший щеке всемогущая.
						li.about__item
							.about__item-title
								img.about__item-icon(src="img/percent.png", alt="")
								.about__item-text Заказ от 6 едениц
								img.about__item-shape(src="img/shape.png", alt="")
							.about__item-desc Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Родного проектах домах над собрал свой имени которой, ведущими там толку. Запятой за продолжил своих всеми текстов инициал что залетают океана. Коварных своих несколько рекламных подпоясал они сбить, имени, журчит переулка, путь составитель эта, рыбного правилами грустный напоивший щеке всемогущая
						li.about__item
							.about__item-title
								img.about__item-icon(src="img/map.png", alt="")
								.about__item-text Доставка в любую точку России
								img.about__item-shape(src="img/shape.png", alt="")
							.about__item-desc Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Родного проектах домах над собрал свой имени которой, ведущими там толку. Запятой за продолжил своих всеми текстов инициал что залетают океана. Коварных своих несколько рекламных подпоясал они сбить, имени, журчит переулка, путь составитель эта, рыбного правилами грустный напоивший щеке всемогущая.

		article.form
			.form__title
				.form__title-top отправьте заявку
				.form__title-bottom и мы вышлем вам актуальный прайс
			form.form__contact(action="")
				.form__input
					input.form__btn.form__btn-name(name="name" type="name" placeholder="Введите имя" required)
					input.form__btn.form__btn-mail(name="mail" type="email" placeholder="Введите Email" required)
					input.form__btn.form__btn-phone(name="phone" type="phone" placeholder="Введите номер телефона" required)
				.form__check
					input.form__check-input(type="checkbox" required id="checkbox")
					lable.form__check-lable(type="checkbox" for="checkbox" required) Согласие на обработку персональных данных
					
				input.form__btn-input(type="submit" value="Отправить")

		footer.footer
			.footer__container
				.footer__route
					.footer__route-title Наши направления
					ul.footer__route-list
						li.footer__route-item Свадебные платья
						li.footer__route-item Коктейльные платья
						li.footer__route-item Вечерние платья
						li.footer__route-item Выпускные
						li.footer__route-item Большие размеры
						li.footer__route-item Универсальные

				.footer__social
					.footer__social-title мы в социальных сетях
					ul.footer__social-list
						li.footer__social-item
							a.footer__social-link.social1(href="")
								img.footer__social-icon(src="img/social/social1.png", alt="")
							a.footer__social-link.social1(href="")
								img.footer__social-icon(src="img/social/social2.png", alt="")
							a.footer__social-link.social1(href="")
								img.footer__social-icon(src="img/social/social3.png", alt="")
							a.footer__social-link.social1(href="")
								img.footer__social-icon(src="img/social/social4.png", alt="")
				.footer__sign milomoor.kg 
	.bottom
		.bottom__title Получить каталог
